html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #1D1D1D;
  font-size: 16px;
  line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: OpenSans-CondensedBold, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, .button {
  margin-bottom: 30px;
}

section {
  padding: 0 30px;
}

nav {
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.50);
  padding: 30px;
}

ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
  padding-right: 20px;
}

ul li:last-child {
  padding-right: 0;
}

nav ul {
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

nav img {
  display: inline;
  width: 66.64%;
  text-align: center;
  margin: 0 16.66%;
}

@media (min-width: 768px) {
  nav ul {
    margin-left: 8.33%;
    width: auto;
    margin-bottom: 0;
  }

  ul li {
    padding-right: 30px;
  }

  nav img {
    width: 14.33%;
    float: left;
    margin: -5px 0 0;
    max-width: 100px;
  }

  nav .action-button {
    float: right;
    margin-top: -10px;
  }
}

.action-button {
  display: block;
  background: #8EAC7B;
  box-shadow: 0 0 15px 1px rgba(45,45,45,0.25);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 25px;
}

a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #979797;
  text-decoration: none;
}

/* Start Hero CSS */
.hero {
  background: #395129 url('../images/jungle-bg.png') no-repeat;
  background-size: cover;
  height: 375px;
  padding: 60px 30px;
}

.hero-image {
  width: 41.65%;
  float: left;
}

.hero-content {
  width: 49.98%;
  float: left;
  margin-left: 8.33%;
  margin-top: 10px;
}

.hero p {
  color: #FFFFFF;
}

.hero .action-button {
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(42,42,42,0.30);
  color: #1D1D1D;
  padding: 20px 25px;
}

.hero-mobile-content {
  width: 100%;
  text-align: center;
  clear:both;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .hide-on-small {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-on-large {
    display: none;
  }

  .hero {
    height: 690px;
    padding: 90px 30px;
  }

  .hero-content {
    width: 41.65%;
    margin-top: 200px;
  }

  .hero .action-button {
    width: 24.99%;
  }

  h1 {
    font-size: 50px;
    line-height: 56px;
  }
}

p.availability-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 12px;
  background: #EDE7CE;
  display: inline-block;
  padding: 5px;
  color: #000000;
  margin-bottom: 5px;
}
/* End Hero CSS */

img {
  width: 100%;
}

main {
  clear: both;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.pre-order-section {
  background: #F9F9F9;
  padding: 1px;
  padding-bottom: 15px;
}

.pre-order-section h2 {
  margin-bottom: 15px;
}

.pre-order-section ul li {
  width: 16.66%;
  padding-right: 20px;
}

.pre-order-section ul li:last-child {
  padding-right: 0;
}

@media (min-width: 768px) {
  .pre-order-section ul li {
    width: 8.33%;
  }
}

.about-section {
  background: #395129 url('../images/fire.png') no-repeat;
  background-size: cover;
}

.about-content {
  padding: 30px;
  background: #F9F9F9;
}

.sneak-peek-link {
  display: block;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .about-content {
    margin-left: 33.32%;
    width: 49.98%;
    padding: 90px 4%;
  }
}

@media (min-width: 992px) {
  .about-content {
    margin-left: 41.65%;
    width: 41.65%;
  }
}

/* Start Testimonial CSS */
.testimonials {
  background: #F5EDE1;
  color: #FFFFFF;
  padding: 90px 40px 0 40px;
}

.testimonials p {
  margin: 0 auto;
  text-align: center;
}

.testimonial {
  font-family: Raleway-SemiBoldItalic;
  font-size: 18px;
  color: #979797;
}

.testimonial span {
  font-size: 25px;
}

@media (min-width: 768px) {
  .testimonials p {
    width: 49.98%;
  }  
}

.reviewer {
  font-family: OpenSans-Light;
  font-size: 15px;
  color: #000000;
}

/* End Testimonial CSS */

/* Start Author CSS */
.author-section {
  background: #395129 url('../images/desert.png') no-repeat;
  background-size: cover;
  padding: 120px 0 0;
}

.author-content {
  background: rgba(249,249,249,0.80);
  border: 1px solid #979797;
  padding: 30px;
  margin-top: 120px;
}

.author-image {
  float: left;
  margin-bottom: 30px;
}

.author-text p {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .author-image {
    width: 33.32%;
    margin-bottom: 0;
  }

  .author-content {
    margin-top: 0;
    height: 430px;
  }

  .author-text {
    margin-left: 41.65%;
    width: 49.98%;
  }
}
/* End Author CSS */

.news-section {
  background: #395129 url('../images/recent-news-bg.png') no-repeat;
  background-size: cover;
}

.news-content {
  padding: 30px;
  background: #F9F9F9;
}

.news-item-container {
  clear: both;
  margin-bottom: 75px;
}

.news-item-container p > a {
  font-family: OpenSans-Bold;
  font-size: 16px;
  color: #375028;
  margin-left: 15px;
  float: none;
}

.news-item-container a {
  float: right;
}

@media (min-width: 768px) {
  .news-content {
    margin-left: 8.33%;
    width: 49.98%;
    padding: 90px 4%;
  }
}

@media (min-width: 992px) {
  .news-content {
    width: 41.65%;
  }

  .news-item-container p > a {
    margin-left: 30px;
  }
}

i.fa {
  font-size: 30px;
  color: #385029;
}
