html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #1D1D1D;
  font-size: 16px;
  line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: OpenSans-CondensedBold, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, .button {
  margin-bottom: 30px;
}

section {
  padding: 0 30px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

nav {
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.50);
  padding: 30px;
}

ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
  padding-right: 20px;
}

ul li:last-child {
  padding-right: 0;
}

nav ul {
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

nav img {
  display: inline;
  width: 66.64%;
  text-align: center;
  margin: 0 16.66%;
}

@media (min-width: 768px) {
  nav ul {
    margin-left: 8.33%;
    width: auto;
    margin-bottom: 0;
  }

  ul li {
    padding-right: 30px;
  }

  nav img {
    width: 14.33%;
    float: left;
    margin: -5px 0 0;
    max-width: 100px;
  }

  nav .action-button {
    float: right;
    margin-top: -10px;
  }
}

.action-button {
  display: block;
  background: #8EAC7B;
  box-shadow: 0 0 15px 1px rgba(45,45,45,0.25);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
}

.action-button:hover {
  background: #748c64;
  color: #FFFFFF;
}

a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #979797;
  text-decoration: none;
}

a:hover {
  color: #6d6b6b;
}

/* Start Hero CSS */
.hero {
  background: #395129 url('../images/jungle-bg.png') no-repeat;
  background-size: cover;
  padding: 60px 30px;
}

.hero p {
  color: #FFFFFF;
}

.hero .action-button {
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(42,42,42,0.30);
  color: #1D1D1D;
  padding: 20px 25px;
  z-index: 1000;
  position: relative;
}

.hero .action-button:hover {
  background: #EDEDED;
  color: #1D1D1D;
}

.hero-mobile-content {
  width: 100%;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.hero-image {
  margin-bottom: 30px;
}

p.availability-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 12px;
  background: #EDE7CE;
  display: inline-block;
  padding: 5px;
  color: #000000;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .hide-on-small {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-on-large {
    display: none;
  }

  .hero {
    padding: 90px 30px;
  }

  .hero-content {
    width: 49.98%;
    display: inline-block;
    margin-left: 8.33%;
    vertical-align: middle;
    margin-top: 32px;
  }

  .hero .action-button {
    width: 24.99%;
  }

  h1 {
    font-size: 50px;
    line-height: 56px;
  }

  .hero-image {
    width: 33.64%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }

  p.availability-text {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .hero-content {
    margin-top: 43px;
  }
}
/* End Hero CSS */

img {
  width: 100%;
}

main {
  clear: both;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.pre-order-section {
  background: #F9F9F9;
  padding: 1px;
  padding-bottom: 15px;
}

.pre-order-section h2 {
  margin-bottom: 15px;
}

.pre-order-section ul li {
  width: 16.66%;
  padding-right: 20px;
}

.pre-order-section ul li:last-child {
  padding-right: 0;
}

ul.pre-order {
  opacity: 0;
  position: relative;
  top: -43px;
}

ul.pre-order li {
  width: 16.66%;
  padding-right: 20px;
}

ul.pre-order li:last-child {
  padding-right: 0;
}

.about-section {
  background: #395129 url('../images/fire.png') no-repeat;
  background-size: cover;
}

.about-content {
  padding: 30px;
  background: #F9F9F9;
}

.sneak-peek-link {
  display: block;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .about-content {
    margin-left: 41.65%;
    width: 49.98%;
    padding: 90px 4%;
  }
}

@media (min-width: 992px) {
  .about-content {
    margin-left: 49.98%;
    width: 41.65%;
  }
}

/* Start Testimonial CSS */
.testimonials {
  background: #f6f0e5;
  color: #FFFFFF;
  padding: 90px 40px 0 40px;
}

.testimonial-container.animated {
  animation-duration: 2s;
  position: absolute;
  left: 0;
  right: 0;
}

.testimonial-container.animated:not(:first-child) {
  opacity: 0;
}

.testimonials p {
  margin: 0 auto;
  text-align: center;
}

.testimonial {
  font-family: Raleway-SemiBoldItalic;
  font-size: 18px;
  color: #979797;
}

.testimonial span {
  font-size: 25px;
}

@media (min-width: 768px) {
  .testimonials p {
    width: 49.98%;
  }  
}

.reviewer {
  font-family: OpenSans-Light;
  font-size: 15px;
  color: #000000;
}

/* End Testimonial CSS */

/* Start Author CSS */
.author-section {
  background: #395129 url('../images/desert.png') no-repeat;
  background-size: cover;
  padding: 120px 0 0;
}

.author-content {
  background: rgba(249,249,249,0.80);
  border: 1px solid #979797;
  padding: 30px;
  margin-top: 120px;
}

.author-image {
  float: left;
  margin-bottom: 30px;
}

.author-text p {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .author-image {
    width: 41.65%;
    margin-bottom: 0;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  .author-text {
    margin-left: 8.33%;
    width: 41.65%;
    display:inline-block;
    vertical-align: middle;
  }

  .author-content {
    padding: 90px;
  }
}
/* End Author CSS */

.news-section {
  background: #395129 url('../images/recent-news-bg.png') no-repeat;
  background-size: cover;
}

.news-content {
  padding: 30px;
  background: #F9F9F9;
}

.news-item-container {
  clear: both;
  margin-bottom: 75px;
}

.news-item-container p > a {
  font-family: OpenSans-Bold;
  font-size: 16px;
  color: #375028;
  margin-left: 15px;
  float: none;
}

.news-item-container a {
  float: right;
}

.news-item-container p > a:hover {
  color: #1c2814;
}

@media (min-width: 768px) {
  .news-content {
    width: 49.98%;
    padding: 90px 4%;
  }
}

@media (min-width: 992px) {
  .news-content {
    width: 41.65%;
  }

  .news-item-container p > a {
    margin-left: 30px;
  }
}

a.social-icon {
  color: #385029;;
}

a.social-icon i.fa {
  font-size: 30px;
}

a.social-icon:hover  {
  color: #1c2814;
}

footer {
  padding: 30px;
  text-align: center;
}

footer p, footer i, footer img {
  margin-bottom: 15px;
  margin-top: 0;
}

footer img {
  width: 66.64%;
}

footer .action-button {
  width: 100%;
}

.right {
  width: 100%;
}

label, input {
  display: block;
}

input {
  background: #F9F9F9;
  border: 1px solid #979797;
  font-family: Raleway-Light;
  font-size: 16px;
  color: #1D1D1D;
  padding: 10px 25px;
  margin-bottom: 30px;
  box-sizing: border-box;
  width: 100%;
}

.left {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .left {
    width: 41.65%;
    display: inline-block;
    margin-bottom: 0;
  }

  .left ul {
    margin-top: 5px;
  }

  footer {
    text-align: left;
  }

  footer .logo {
    width: 49.98%;
  }

  .right {
    width: 49.98%;
    margin-left: 8.33%;
    display: inline-block;
    float: right;
  }

  .right input {
    display: inline;
    width: 58.31%;
  }

  .right .action-button {
    display: inline-block;
    width: 33.66%;
  }

  footer img {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .right p {
    margin-bottom: 30px;
  }
}

.modal {
    display: none; /* Hidden by default */
    opacity: 0;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #F9F9F9;
    color: #1D1D1D;
    margin: auto;
    padding: 30px 30px;
    border: 1px solid #888;
    width: 49.98%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-content .container {
  padding: 90px 0;
}

/* The Close Button */
.close {
    color: #1D1D1D;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
